name: Trigger Builds

on: 
  release:
    types:
      - released

jobs:
  trigger_build:
    name: trigger build
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    runs-on: ubuntu-latest
    steps:
      - name: format payload
        run: "cat $GITHUB_EVENT_PATH | jq '{ git: { uri: .repository.html_url, commit: \"${{ github.sha }}\" } }' > payload.json"
      - name: trigger build with commit info
        env:
          OKD_BUILD_HOOK: ${{ secrets.OKD_BUILD_HOOK }}
        run: |
          curl --insecure --header "Content-Type: application/json" --request POST --data @payload.json "$OKD_BUILD_HOOK"
# git:
#   uri: "<url to git repository>"
#   ref: "<optional git reference>"
#   commit: "<commit hash identifying a specific git commit>"
#   author:
#     name: "<author name>"
#     email: "<author e-mail>"
#   committer:
#     name: "<committer name>"
#     email: "<committer e-mail>"
#   message: "<commit message>"
# env: 
#    - name: "<variable name>"
#      value: "<variable value>"
